html {
    width: 100%;
    height: 100%;
    background-color: #d5b6ae;
    font-family: sans-serif;

}

body {
    background-color: #f1f1f1;
}

/*@media screen and (max-width: 900px)*/
/*{*/
/*    .outlets, .navButton*/
/*    {*/
/*        display: block ;*/
/*    }*/
/*}*/

.nav-bar {
    max-width: 100%;
    max-height: 450px;
    overflow: hidden;
    position: relative;
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
}

@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@-moz-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@-o-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#img1 {
    max-width:100%;
    max-height:100%;
    display: flex;
}

.nav-bar .nav {
    position: absolute; /* Position the background text */
    top: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.3); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    height: 100%;
}

.nav p {
    border: none;
    display: inline-block;
    margin: 0 10px;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 12px;
}

.outlets {
    position: absolute;
    margin: -30px 0 0 470px;
    /*margin: -295px 0 0 430px;*/
}

.navButton {
    scale: 80%;
    display: inline-block;
}

h3 {
    color: #d0b7b0;
    font-family: proxima-nova, serif;
}

.header {
    border-bottom: solid #d5d5d5 1px;
    margin: 20px 20px;
    font-family: sans-serif;
    color: #5e5e5e;
    display: block;
    overflow: hidden;
    padding: 20px 0;
    font-size: 20px;
}

.header p {
    color: #5e5e5e;
    border: none;
}

div button {
    border-radius: 50px;
    padding: 15px 30px;
    margin: 40px 0;
    font-family: proxima-nova, serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    background-color: rgba(213,182,174,.87);
    border: none;
}

#img2,#img3,#img4,#img6,#img8,#img10 {
    width: 40%;
    float: left;
    margin: 0 -15px;
    padding: 10px 0;
}

#img5,#img7,#img9 {
    width: 40%;
    float: right;
    margin: 0 -15px;
}

div .row {
    /*border: solid pink 2px;*/
    border-bottom: solid #d5d5d5 1px;
    margin: 0 20px;
    padding: 20px 0;
}

div h5 {
    /*border: black solid 2px;*/
    margin: 60px 0 0 0;
    color: #bdbdbd;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 13px;

}

.piece p {
    font-family: proxima-nova, serif;
    position: relative;
}

.customSM img, .customMD img {
    float: left;
    width: 50%;
    padding: 5px;
    margin: 20px 0;
}

.customLG img {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.lastRow {
    margin: 10px 20px;
    padding:20px 0;
}

.lastRow p {
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.lastRow ul, .addOns p, .pick6 ul, .pick4 ul, .goldPack ul, .platinumPack ul {
    color: #5e5e5e;
}

.addOns p {
    font-weight: 400;
    letter-spacing: 2px;
}

.footer {
    background: #d5b6ae;
    /*border: solid black 2px;*/
    padding: 60px;
}




